body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 230, 230);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 84px;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.content {
    width: 1180px;
    height: 100%;
    margin: auto;
}

header > .content {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.tasks {
    display: flex;
    align-items: center;
}

.task-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.task-item {
    display: flex;
    height: 100%;
}

.task-button {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.task-button p {
    margin: 0;
    padding-top: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

.border {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: rgb(255, 6, 125);
    transition: width 0.3s ease-in-out;
}

.task-button:hover {
    color: rgb(255, 6, 125);
}

.task-button:hover .border {
    width: 100%;
}

.sections {
    padding-top: 84px;
    flex-grow: 1; 
    width: 100%;
}

.section {
    padding: 25px 0;
}

.task {
    border-radius: 20px;
    overflow: hidden;
}

.task-name {
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
}

.task-content {
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

.task-1 * {
    font-size: 24.4px;
    font-family: 'Times New Roman', Times, serif;
}

.task-1 p::first-letter {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}

.task-2 {
    width: 700px;
    font-size: 24.4px;
    font-family: 'Times New Roman', Times, serif;
}

.task-2 h1 {
    margin-top: 0;
}

.task-2 p {
    text-align: justify;
}

.task-2 p::before {
    content: "Начало: ";
    color: rgb(255, 0, 0);
}

.task-2 p::after {
    content: " :конец!";
    color:rgb(0, 128, 0);
}

.сhess {
    width: 1080px;
    height: 1080px;

    /* width: 880px;
    height: 880px;

    width: 580px;
    height: 580px; */

    font-size: 150%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
}

.coordinates {
    width: 99%;
    height: 99%;
    background-color: rgb(50, 50, 50)
}

.letters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4%;
    height: 4%;
}

.letter {
    margin: auto;
}

.numbers-and-field {
    display: flex;
    height: 92%;
}

.numbers {
    display: flex;
    flex-direction: column;
    width: 4.3%;
    height: 100%;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.field-border {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
}

.field {
    width: 99%;
    height: 99%;
}

.cells {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.cells div {
    width: 100%;
    height: 100%;
    display: flex;
}

.cells div div {
    width: 100%;
    height: 100%;
}

.cells div:nth-child(2n) div:nth-child(2n) {
    background-color: rgb(123, 123, 123);
}

.cells div:nth-child(2n+1) div:nth-child(2n+1) {
    background-color: rgb(123, 123, 123);
}

.cells div div:nth-child(1n):hover {
    transition: all 0.1s ease-in-out;
    background-color: rgb(255, 6, 125);
}

.task-4 a {
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    background-color: rgb(61, 61, 61);
}

.task-4 a.active {
    background-color: rgb(255, 108, 0);
}

.task-4 a:hover {
    background-color: rgb(255, 108, 0);
    transition: all 0.3s ease-in-out;
}

.task-5 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}

.task-5 a {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(72, 72, 72);
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.task-5 a:hover {
    cursor: url(https://cdn.custom-cursor.com/db/7599/32/stain-of-paint-pointer.png), pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

footer {
    margin-top: auto;
    height: 100px;
    background-color: rgb(0, 0, 0);
}

footer > .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links img {
    width: 32px;
    margin: 0 10px;
    transition: all 0.1s ease-in-out;
}

.links img:hover {
    scale: 1.25;
}
